:root {
  --active_color: #47F89F;
  --additional_color: #ffffff;
}

.breadcrumbs {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 20px 0 0 25px;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  width: 1340px;
  margin-left: auto;
  margin-right: auto;
}

.breadcrumbs * {
  color: var(--additional_color);
  transition: 0.5s;
}

.breadcrumbs .breadcrumb-link {
  cursor: pointer;
  text-decoration: none;
}

.breadcrumbs .breadcrumb-link:hover {
  color: var(--active_color);
}

.breadcrumbs li {
  position: relative;
}

.breadcrumbs li:not(.slash) {
  cursor: pointer;
}

.breadcrumbs li.slash {
  cursor: default;
}

.breadcrumbs li:last-child {
  color: var(--active_color);
}

.breadcrumbs li:last-child .breadcrumb-link {
  cursor: default;
  pointer-events: none;
}

/* Мобильная версия для хлебных крошек */
@media (max-width: 1400px) {
  .breadcrumbs {
    width: calc(100% - 40px);
    padding: 16px 0 0 20px;
    gap: 8px;
  }
}

@media (max-width: 768px) {
  .breadcrumbs {
    width: calc(100% - 30px);
    padding: 10px 0 0 15px; /* Уменьшаем отступы для мобильных */
    gap: 6px;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .breadcrumbs {
    width: calc(100% - 20px);
    padding: 5px 0 0 10px; /* Еще меньше отступы для маленьких экранов */
    gap: 5px;
    margin-bottom: 10px;
  }
}
