.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 30px;
}

.search-form {
  width: 1340px;
  display: flex;
  justify-content: center;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
  gap: 0;
}

.search-input {
  flex-grow: 1;
  min-width: 0;
  height: 35px;
  padding-left: 7px;
  background-color: #1C201F;
  border-radius: 5px 0 0 5px;
  border: 1px solid #259579;
  color: #fff;
  font-size: 16px;
  box-sizing: border-box;
}

.search-input::placeholder {
  color: #A29E9E;
}

.search-button {
  height: 35px;
  background-color: #259579;
  border-radius: 0 5px 5px 0;
  border: 1px solid #259579;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 0 16px;
  box-sizing: border-box;
}

.search-button:hover {
  background-color: #47F89F;
  border-color: #47F89F;
}

@media (max-width: 1400px) {
  .search-form {
    width: calc(100% - 40px);
  }
}
