.period-card {
  width: 320px;
  height: 430px;
  background-color: #1C201F;
  border-radius: 8px;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.period-card-img {
  width: 110px;
  height: 110px;
  object-fit: fill;
  margin: 10px auto;
}

.period-card-title {
  color: #ffffff;
  font-family: "Noto Sans", sans-serif;
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 14px;
}

.period-card-duration {
  color: #ffffff;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  text-align: center;
  margin-top: 8px;
}

.period-card-description {
  color: #ffffff;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  text-align: left;
  line-height: 1.5;
  flex-grow: 1;
}

.period-card-more {
  color: #ffffff;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  text-decoration: none;
  margin-top: 15px;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.period-card-more:hover {
  color: #47F89F;
}
